---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import FormattedTags from "../components/FormattedTags.astro";
import SocialLinks from "../components/SocialLinks.astro";
import PostDescription from "../components/PostDescription.astro";
import { Image } from "astro:assets";

const posts = (await getCollection("works")).sort(
    (b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<script>
    // Enable hover effect on touch devices through tap gestures
    // When hovered by a computer, the opacity is automatically set to 0.9 and the link is clickable
    const postLinks = document.getElementById("postLinks");
    postLinks.addEventListener("click", (event) => {
        const currOpacity = window.getComputedStyle(event.target).getPropertyValue("opacity");
        if (currOpacity != 0.9) {
            event.preventDefault();
            event.target.style.opacity = "0.9";
        }
    });
</script>

<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <div class="h-20"></div>
        <main class="max-w-[54rem] mx-auto">
            <section class="mx-3">
                <h1 class="text-4xl font-bold mb-4">Welcome</h1>
                <p class="mb-6">
                    I'm a software engineer passionate about building user-friendly products. Explore my
                    portfolio for projects that demonstrate my skills in front-end development, back-end
                    technologies, and crafting intuitive user experiences. Let's talk about how I can help
                    your team.
                </p>
                <SocialLinks />
            </section>
            <section class="mx-3 mb-12">
                <div class="h-10" id="posts"></div>
                <ul id="postLinks">
                    {
                        posts.map((post) => (
                            <a
                                href={`/works/${post.slug}/`}
                                class="text-content-base hover:text-accent duration-75"
                            >
                                <li class="mt-14">
                                    <div class="relative mx-auto ">
                                        <div class="absolute w-full h-full hover:opacity-90 opacity-0 bg-primary text-content-base flex items-center text-balance justify-center duration-100">
                                            <PostDescription description={post.data.description} />
                                        </div>
                                        <Image
                                            width="1680"
                                            height="945"
                                            decoding="async"
                                            loading="lazy"
                                            class="shadow-emphasis object-cover"
                                            src={post.data.heroImage}
                                            alt={`Preview image for ${post.data.title}`}
                                        />
                                    </div>
                                    <div class="flex justify-between mx-1 mt-2">
                                        <h2 class="font-bold text-2xl text-left text-balance mb-0 text-inherit">
                                            {post.data.title}
                                        </h2>

                                        <FormattedTags tags={post.data.tags} />
                                    </div>
                                </li>
                            </a>
                        ))
                    }
                </ul>
            </section>
        </main>
        <Footer />
        <style>
            ul {
                list-style-type: "";
                margin-top: 0rem;
                margin-bottom: 0rem;
            }
            li {
                margin-left: 0rem;
                margin-bottom: 0rem;
            }
        </style>
    </body>
</html>
